<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<plugin>

    <extension point="org.eclipse.ui.views">
        <category id="io.github.mlorek.querysweep.category"
                  name="QuerySweep"/>
        <view id="io.github.mlorek.querysweep.view"
              name="QuerySweep"
              category="io.github.mlorek.querysweep.category"
              class="io.github.mlorek.querysweep.QuerySweepView"
              restorable="true"/>
    </extension>

    <extension point="org.eclipse.ui.commands">
        <command id="io.github.mlorek.querysweep.open"
                 name="Open QuerySweep"
                 description="Open the QuerySweep multi-connection query view"/>
    </extension>

    <extension point="org.eclipse.ui.handlers">
        <handler commandId="io.github.mlorek.querysweep.open"
                 class="io.github.mlorek.querysweep.OpenQuerySweepHandler"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu id="io.github.mlorek.querysweep.menu" label="QuerySweep">
                <command commandId="io.github.mlorek.querysweep.open"
                         label="Open QuerySweep"
                         style="push"/>
            </menu>
        </menuContribution>
    </extension>

</plugin>
